@media only screen and (max-width: 900px) {
  .form {
    width: 350px !important;
  }
  form {
    width: 350px !important;
  }
  th,
  td {
    padding: 7px !important;
  }
}
@media only screen and (max-width: 750px) {
  .form {
    width: 320px !important;
  }
  form {
    width: 320px !important;
  }
  th,
  td {
    padding: 5px !important;
  }
}
@media only screen and (max-width: 600px) {
  .form {
    width: 290px !important;
  }
  form {
    width: 290px !important;
  }
  th,
  td {
    padding: 3px !important;
  }
}
@media only screen and (max-width: 450px) {
  .form {
    width: 260px !important;
  }
  form {
    width: 260px !important;
  }
  th,
  td {
    padding: 1px !important;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container_alfa {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

#logout {
  background-color: antiquewhite;
  color: black;
  padding: 5px;
}

h1 {
  margin: 10px;
}

h2 {
  margin: 10px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    #e24645,
    #ea5f43,
    #f07542,
    #f48b45,
    #f7a04b,
    #e9ac4b,
    #dbb751,
    #ccc15c,
    #acc268,
    #8fc178,
    #77bd8a,
    #64b899
  );
}

.deleted_pizza {
  color: red;
  text-decoration: line-through;
}

.btn {
  padding: 8px 20px;
  border-radius: 0;
  overflow: hidden;
  width: 100%;
  margin: 18px 0 9px 0;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 10px;
}

.form {
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  padding: 50px 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: antiquewhite;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 8px 8px 24px -2px rgba(66, 68, 90, 1);
  margin: 0;
}

h4 {
  text-align: center;
}

#numberm {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  text-align: center;
}

#sumbit {
  width: 100%;
  background-color: #696969;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#sumbit:hover {
  background-color: #b2b2b2;
}

.small {
  width: 96% !important;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.textarea {
  height: auto;
  min-height: 30px;
}

p {
  color: antiquewhite;
  font-weight: bold;
}

a {
  text-decoration: none;
}

#admin_box {
  display: flex;
  align-items: center;
  width: 96%;
  justify-content: space-evenly;
}

.radio {
  width: 15px;
  height: 15px;
}

hr {
  width: 100%;
  border: 5px solid;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
